.ChartBox {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;

    .detailsText {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        .head {
            display: flex;
            align-items: center;
            gap: 6px;

            .icon {
                font-size: 30px;
            }

            .title {
                font-size: 14px;
                margin-top: -5px;
            }
        }

        .number {
            font-size: 20px;
            font-weight: 600;
        }

        .viewAll {
            font-size: 13px;
        }
    }

    .detailsChart {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lineChart {
            flex: 1;
        }

        .percentage {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: auto;

            span {
                font-weight: 500;
                font-size: 14px;
                text-align: right;
            }

            small {
                font-size: 12px;
                text-transform: lowercase;
                color: var(--cr-text-muted);
            }
        }
    }
}