.CaptionPage {
    margin-bottom: 15px;

    .caption {
        font-size: 20px;
        color: var(--cr-main);
        font-weight: 600;
        margin-bottom: 5px;
    }

    .desc {
        font-size: 13px;
    }
}